{% extends "layout.html.twig" %}
{% block title %}A propos{% endblock %}

{% block content %}
<div class="container r ">
            <div class="jumbotron row  " id="qui">
              <div class=" profil-admin jubs "><img  class="im1" src="{{ asset('/assets/img/profil.png') }}">
                </div>
                    <div class=" col-lg-12 col-sm-12 col-md-12 text-center size">
                        <strong>Bienvenu, et heureux de te connaitre</strong>
                        </div>
                            <p class=" col-lg-12 col-sm-12 col-md-12 text-justify">Je suis Jean Forteroche, écrivain et acteur depuis un bon moment et passionné par la nature, à présent tu es sur ce blog pour découvrir de nouvelles aventure du mon prochain roman « billet simple pour l’Alaska », lors de mon voyage sur ce monde prospère et complément différent, une très grande inspiration m’est venue pour ce roman qui vous émergera totalement sur les traditions de l’Alaska.J'ai pris un ensemble de clichés à couper le souffle, tu les retrouveras ci-dessous dans un album, pour voir mes nouvelles publications du roman clic sur le bouton d'en bas</p>
                         </div>
                     </div>
                        <div class="container espace ">
                            <div class="jumbotron row decal ">
                                <h2 class="text-center"><div class="glyphicon glyphicon-camera meilleurs"></div> Meilleurs clichés</h2>
                                        <div  id="carousel" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel" data-slide-to="0"></li>
                                                    <li data-target="#carousel" data-slide-to="1"></li>
                                                    <li data-target="#carousel" data-slide-to="2"></li>
                                                    <li data-target="#carousel" data-slide-to="3"></li>
                                                </ol>

                                                <div class="carousel-inner">
                                                    <div class="item active"> <img src="{{ asset('/assets/img/img2.jpg') }} " alt="alaska"></div>
                                                    <div class="item"> <img src=" {{asset('/assets/img/img1.jpg')}} " alt="alaska"></div>
                                                    <div class="item"> <img src=" {{asset('/assets/img/img3.jpg')}} " alt="alaska"></div>
                                                    <div class="item"> <img src=" {{asset('/assets/img/img4.png')}} " alt="alaska"></div>
                                                </div>
                                                    <a class="left carousel-control" href="#carousel" data-slide="prev">
                                                     <span class="glyphicon glyphicon-chevron-left"></span>
                                                    </a>
                                                    <a class="right carousel-control" href="#carousel" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                 </a>
                                            </div>
                                         <p> <a href=" {{path('home')}} "><div class=" col-lg-12 col-sm-12 col-md-12 text-center"><button type="button" 
                                         class="btn c">Retour acceuil</button></div></a>
                                         </p>
                                   </div>
                             </div>


{% include "footer.html.twig" %}
{% endblock %}
